@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Mukta+Vaani&family=Space+Mono&family=Work+Sans&display=swap");

.hidden {
  display: none;
}
.overflow {
  overflow: hidden;
}
.cart {
  gap: 10px;
  position: fixed;
  height: 100%;
  width: 100vw;
  background: rgba(99, 95, 95, 0.233);
  overflow: hidden;
}
.white-section {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  background: #fff;
}
.white-section {
  right: 0;
  gap: 5px;
  width: 30vw;
  padding: 1.5em;
  margin: 1em;
  border-radius: 1%;
}
.cart-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1.5em;
  width: 100%;
}
.cart-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6em;
}
.close {
  border: none;
  background: none;
  padding: 2px;
  font-size: 2em;
  color: #9c9797;
  transition: 0.3s;
}
.close:hover {
  color: #000000;
  cursor: pointer;
}
.empty-text {
  margin: 1.5em;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}
.cart-items {
  height: fit-content;
}
.item-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  gap: 5px;
  width: 100%;
  margin: 5px;
  max-height: 300px;
}
.item-text > * {
  margin: 0.5rem;
  font-size: 12px;
  color: grey;
}
.item-pictures {
  height: fit-content;
  width: 30%;
}
.delete-item {
  border: none;
  background: none;
  color: #000000;
  font-size: 1.3em;
}
.delete-item:hover {
  cursor: pointer;
  transition: 0.5s;
  border-radius: 3px;
  background: #000000;
  color: #fff;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #464545;
  width: 100%;
}
.total > * {
  margin: 1em;
}
.total-title {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}
.total-amount {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.3em;
}
.checkout {
  background: #000000;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 1em;
  max-width: 150px;
}
.checkout:hover {
  color: #000000;
  background: #f4f4f4;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (min-width: 300px) {
  .cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50%;
    max-height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50%;
    max-height: 300px;
  }
}
