@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Mukta+Vaani&family=Space+Mono&family=Work+Sans&display=swap");

.hidden {
  display: none;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: #403c2c;
  color: #d9be6c;
}
.title {
  font-family: "Space Mono", monospace;
  font-weight: bolder;
  font-size: 2em;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}
a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: #d9c896;
  cursor: pointer;
}
a:hover,
.shopping-cart:hover {
  color: #f0e6cb;
  transition: 0.2s;
}
.shopping-cart {
  color: #d9c896;
  font-size: 1.2em;
  cursor: pointer;
}
.badge-warning[href] {
  background-color: #c67605;
}
.badge {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
}
#label-cart {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
