@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Mukta+Vaani&family=Space+Mono&family=Work+Sans&display=swap");

.hidden {
  display: none;
}
.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.shop-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  background: #d9be6c;
}
.shop-text {
  font-weight: 900;
  color: #fff;
}

.keyboards-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}
.main-shopping-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 20px;
}

/* div holding ALL of the preview content */
.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 400px;
  /* overflow: hidden; */
}
/* div holding the individual images */
.preview-panel {
  text-align: center;
  height: 250px;
  margin: 1em;
}
/* img class for img elements in preview section*/
.keyboard-pictures-preview {
  width: 100%;
  height: fit-content;
  padding: 1px;
}

/* div that holds the main image non-preview */
.image-holder {
  height: 400px;
  min-width: 300px;
  max-width: 650px;
  overflow: hidden;
}
/* img class for img elements in main section */
.keyboard-pictures-main {
  width: 100%;
  height: fit-content;
}
.active-img {
  padding: 2px;
  transform: scale(1.2);
  border: 2px solid red;
}
.product-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 700px;
  margin: 1.5em;
}
.shop-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.options,
.colors,
.pcb,
.quantity {
  display: flex;
  flex-direction: column;
  font-family: "Mukta Vaani", sans-serif;
  margin: 5px;
}
.product-title {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
}
.product-price,
.product-warning {
  font-size: 1.5em;
  font-family: "Work Sans", sans-serif;
}
.product-warning {
  color: red;
  background: rgba(229, 153, 153, 0.336);
  padding: 5px;
}
.colors-label,
.pcb-label,
.quantity-label {
  margin: 5px;
  font-size: 20px;
  color: #888;
}
.colors-label select,
.pcb-label select {
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 0 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 5px;
  appearance: none;
}
.colors-label select:hover,
.pcb-label select:hover {
  background: #d4cbcb;
}
.quantity-label {
  display: flex;
  flex-direction: column;
}
.quantity-label input {
  border-radius: 3px;
  border: 2px solid #d3d3d3;
  padding: 5px;
  width: 50px;
  margin: 5px;
}
.add-cart {
  border: none;
  padding: 20px;
  font-size: 15px;
  background: #000000;
  color: #f4f4f4;
  transition: 0.3s;
}
.add-cart:hover {
  background: #f4f4f4;
  color: #000000;
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 730px) {
  .shop {
    height: 100%;
  }
  .main-shopping-area {
    display: flex;
    flex-direction: column;
  }
  .image-preview {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: fit-content;
  }
  .preview-panel {
    width: 250px;
    margin: 5px;
    height: fit-content;
  }
  .keyboard-pictures-preview {
    object-fit: cover;
  }
  .image-holder {
    height: fit-content;
    margin: auto;
  }
}
